/* main controls component */
.key-controls {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  padding: 12px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.control-wrapper {
  height: 80px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1304px;

  .left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: 48px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 12px 20px;
    border-radius: 12px;
  }

  .left-light {
    background-color: rgba(255, 249, 242, 0.7);
    transition: background-color 0.3s;
  }

  .left-dark {
    background-color: rgba(83, 69, 63, 0.7);
    transition: background-color 0.3s;
  }

  .right {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 12px 20px 0px 20px;
  }
}

.left-light .keys div:hover,
.right-light .keys div:hover {
  cursor: url("/main/star-filled.svg") 12 12, default;
}

.left-dark .keys div:hover,
.right-dark .keys div:hover {
  cursor: url("/main/light-star-filled.svg") 12 12, default;
}

.control-wrapper-hidden {
  justify-content: end;
}

@media (max-width: 1320px) {
  .control-wrapper {
    padding: 0px 40px;
  }
}

@media (max-width: 880px) or (max-height: 640px) {
  .key-controls {
    display: none;
  }
}

/* individual key control */
.control-label {
  font-size: 14px;
}

.keys-label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  font-size: 12px;
  gap: 6px;
}

.right-keys-label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: end;
  font-size: 12px;
  gap: 6px;
}

.keys {
  display: flex;
  flex-flow: row;
  gap: 6px;
}

/* up and down for scrolling */
.ArrowUp {
  background-image: url("/main/up.svg");
  width: 28px;
  height: 28px;
}

.ArrowUp.clicked,
.ArrowUp:hover {
  background-image: url("/main/up-clicked.svg");
  width: 28px;
  height: 28px;
}

.ArrowDown {
  background-image: url("/main/down.svg");
  width: 28px;
  height: 28px;
}

.ArrowDown.clicked,
.ArrowDown:hover {
  background-image: url("/main/down-clicked.svg");
  width: 28px;
  height: 28px;
}

/* numerical keys for page navigation */
div[data-key="0"] {
  background-image: url("/main/0.svg");
  width: 28px;
  height: 28px;
}

/* div[data-key="0"].clicked,
div[data-key="0"]:hover {
  background-image: url("/main/0-clicked.svg");
  width: 28px;
  height: 28px;
} */

div[data-key="1"] {
  background-image: url("/main/1.svg");
  width: 28px;
  height: 28px;
}

div[data-key="1"].clicked,
div[data-key="1"]:hover {
  background-image: url("/main/1-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="2"] {
  background-image: url("/main/2.svg");
  width: 28px;
  height: 28px;
}

div[data-key="2"].clicked,
div[data-key="2"]:hover {
  background-image: url("/main/2-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="3"] {
  background-image: url("/main/3.svg");
  width: 28px;
  height: 28px;
}

div[data-key="3"].clicked,
div[data-key="3"]:hover {
  background-image: url("/main/3-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="4"] {
  background-image: url("/main/4.svg");
  width: 28px;
  height: 28px;
}

/* div[data-key="4"].clicked,
div[data-key="4"]:hover {
  background-image: url("/main/4-clicked.svg");
  width: 28px;
  height: 28px;
} */

/* hide controls */
.h {
  background-image: url("/main/hide.svg");
  width: 28px;
  height: 28px;
}

.h.clicked,
.h:hover {
  background-image: url("/main/hide-clicked.svg");
  width: 28px;
  height: 28px;
}

/* toggle light or dark mode */
.d {
  background-image: url("/main/dark.svg");
  width: 28px;
  height: 28px;
}

.d.clicked,
.d:hover {
  background-image: url("/main/dark-clicked.svg");
  width: 28px;
  height: 28px;
}

/* back to top */
.t {
  background-image: url("/main/top.svg");
  width: 28px;
  height: 28px;
}

.t.clicked,
.t:hover {
  background-image: url("/main/top-clicked.svg");
  width: 28px;
  height: 28px;
}
