/* main controls component */
.key-controls {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  padding: 16px 0px;
  display: flex;
  justify-content: center;
}

.control-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1280px;

  .left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: 48px;
  }

  .right {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

@media (max-width: 1320px) {
  .control-wrapper {
    padding: 0px 56px;
  }
}

.key-controls-light {
  transition: background-color 0.3s;
  background-color: rgba(255, 249, 242, 0.8);
  /* background-image: linear-gradient(
    to bottom,
    rgba(255, 249, 242, 0) 0%,
    rgba(255, 249, 242, 0.5) 10%,
    /* rgba(255, 249, 242, 0.7) 20%, rgba(255, 249, 242, 0.9) 100%
  ); */
}
.key-controls-dark {
  transition: background-color 0.3s;
  background-color: rgba(83, 69, 63, 0.8);
  /* background-image: linear-gradient(
    to bottom,
    rgba(83, 69, 63, 0) 0%,
    rgba(83, 69, 63, 0.5) 10%,
    rgba(83, 69, 63, 0.7) 20%,
    rgba(83, 69, 63, 0.9) 100%
  ); */
}

@media (max-width: 880px) or (max-height: 640px) {
  .key-controls-light,
  .key-controls-dark {
    display: none;
  }
}

/* individual key control */
.control-label {
  font-size: 14px;
}

.keys-label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  font-size: 12px;
  gap: 6px;
}

.keys {
  display: flex;
  flex-flow: row;
  gap: 6px;
}

/* up and down for scrolling */
.ArrowUp {
  background-image: url("/main/up.svg");
  width: 28px;
  height: 28px;
}

.ArrowUp.clicked {
  background-image: url("/main/up-clicked.svg");
  width: 28px;
  height: 28px;
}

.ArrowDown {
  background-image: url("/main/down.svg");
  width: 28px;
  height: 28px;
}

.ArrowDown.clicked {
  background-image: url("/main/down-clicked.svg");
  width: 28px;
  height: 28px;
}

/* numerical keys for page navigation */
div[data-key="0"] {
  background-image: url("/main/0.svg");
  width: 28px;
  height: 28px;
}

div[data-key="0"].clicked {
  background-image: url("/main/0-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="1"] {
  background-image: url("/main/1.svg");
  width: 28px;
  height: 28px;
}

div[data-key="1"].clicked {
  background-image: url("/main/1-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="2"] {
  background-image: url("/main/2.svg");
  width: 28px;
  height: 28px;
}

div[data-key="2"].clicked {
  background-image: url("/main/2-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="3"] {
  background-image: url("/main/3.svg");
  width: 28px;
  height: 28px;
}

div[data-key="3"].clicked {
  background-image: url("/main/3-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="4"] {
  background-image: url("/main/4.svg");
  width: 28px;
  height: 28px;
}

div[data-key="4"].clicked {
  background-image: url("/main/4-clicked.svg");
  width: 28px;
  height: 28px;
}

/* hide controls */
.h {
  background-image: url("/main/hide.svg");
  width: 28px;
  height: 28px;
}

.h.clicked {
  background-image: url("/main/hide-clicked.svg");
  width: 28px;
  height: 28px;
}

/* toggle light or dark mode */
.d {
  background-image: url("/main/dark.svg");
  width: 28px;
  height: 28px;
}

.d.clicked {
  background-image: url("/main/dark-clicked.svg");
  width: 28px;
  height: 28px;
}

/* jump to featured work */
.f {
  background-image: url("/main/featured.svg");
  width: 28px;
  height: 28px;
}

.f.clicked {
  background-image: url("/main/featured-clicked.svg");
  width: 28px;
  height: 28px;
}

/* back to top */
.t {
  background-image: url("/main/top.svg");
  width: 28px;
  height: 28px;
}

.t.clicked {
  background-image: url("/main/top-clicked.svg");
  width: 28px;
  height: 28px;
}
