.mobile-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  padding: 24px 32px;
  width: 100%;
}

.hamburger {
  display: flex;
  flex-flow: column nowrap;
  align-items: end;

  -webkit-user-select: none;
  user-select: none;
}

.hamburger input {
  position: absolute;
  top: 24px;
  right: 32px;
  width: 28px;
  height: 28px;
  opacity: 0;
  z-index: 22;
  -webkit-touch-callout: none;
}

.input-light:hover {
  cursor: url("/main/star-filled.svg") 12 12, default;
}

.input-dark:hover {
  cursor: url("/main/light-star-filled.svg") 12 12, default;
}

.menu-icon {
  position: absolute;
  top: 24px;
  right: 32px;
  width: 28px;
  height: 34px;
  z-index: 21;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.menu-icon span {
  display: block;
  width: 28px;
  height: 1.5px;
  border-radius: 4px;
  z-index: 21;

  transform-origin: 0px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.span-light {
  background-color: black;
}

.span-dark {
  background-color: var(--cream5);
}

.menu-icon span:first-child {
  margin-bottom: 8px;
}

.menu-icon span:nth-child(2) {
  margin-bottom: 8px;
}

.hamburger input:checked ~ .menu-icon span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
}

.hamburger input:checked ~ .menu-icon span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger input:checked ~ .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(-1.5px, -0.5px);
}

.hamburger-links {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: 24px;
  height: 0;
  overflow: hidden;
  transition: height 500ms ease-in-out;
}

.hamburger-links li:first-child {
  padding-top: 24px;
}

.hamburger input:checked ~ .hamburger-links {
  height: 144px;
  transition: height 500ms ease;
}
