.ab {
  display: flex;
  justify-content: center;
}

.ab-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  gap: 64px;
  max-width: 1080px;
}

@media (max-width: 1160px) {
  .ab-content {
    padding: 0px 56px;
  }
}

.ab-content h1 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 64px;
  padding: 0;
  margin: 0;
}

.ab-content h2 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 44px;
  padding: 0 0 24px 0;
  margin: 0;
}

.ab-content h3 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 32px;
  padding: 0 0 16px 0;
  line-height: 90%;
  margin: 0;
}

.ab-content img {
  border: 1.5px solid black;
  border-radius: 20px;
}

.ab-content p {
  text-align: left;
  padding: 0;
  margin: 0;
}

.overview {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 36px;
}

.grouping {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

/* .callout {
  width: 100%;
  font-family: "ivymode";
  font-weight: 500;
  font-size: 20px;
  line-height: 90%;
} */

.split {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 24px;
}

.half-screen {
  width: 50%;

  img {
    width: 100%;
  }

  .description {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
  }
}

.process {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

.process-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 56px;

  .description {
    margin-bottom: 16px;
  }

  .description-top {
    margin-top: 16px;
  }
}

.ab-content .details-list {
  margin-left: 32px;
  list-style-type: disc;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;

  text-align: left;

  li {
    stroke-width: 1.5px;
    padding-left: 8px;
  }

  .nested-list {
    padding-top: 8px;
    margin-left: 32px;
    list-style-type: circle;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
  }
}

.analysis {
  width: 100%;
}

.test {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.test-results {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  width: 60%;

  img {
    width: 100%;
  }
}
