#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

article {
  width: 100%;
  height: 100%;
}

.dark-mode {
  cursor: url("/main/light-star-unfilled.svg"), default;
  background-color: var(--cream85);
  color: var(--cream5);
  transition: background-color 0.3s;
}

.light-mode {
  background-color: var(--cream5);
  color: black;
  transition: background-color 0.3s;
}

header {
  top: 0;
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 20;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 56px;
  box-sizing: border-box;
  z-index: 40;
}

.dark-nav {
  background-color: rgba(83, 69, 63, 0.9);
  transition: background-color 0.3s;
}

.light-nav {
  background-color: rgba(255, 249, 242, 0.9);
  transition: background-color 0.3s;
}

.logo {
  width: 30px;
  transform: translateY(16%);
}

.right-links {
  display: flex;
  flex-flow: row;
  gap: 40px;
}

.scroll-indicator {
  width: 100%;
  height: 1.5px;
}

.progress-bar {
  height: 1.5px;
  background: black;
  width: 0%;
}

.progress-bar-dark {
  height: 1.5px;
  background-color: var(--cream5);
  width: 0%;
}

.progress-star {
  height: 24px;
  position: absolute;
  transform: translateY(-54%);
  visibility: hidden;
}

.key-controls-light {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  height: 96px;
  padding: 18px 56px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(255, 249, 242, 0.9);
  transition: background-color 0.3s;
  gap: 48px;
}

.key-controls-dark {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  height: 96px;
  padding: 18px 56px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(83, 69, 63, 0.9);
  transition: background-color 0.3s;
  gap: 48px;
}

.control-label {
  font-size: 14px;
}

.keys-label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.keys {
  display: flex;
  flex-flow: row;
  gap: 6px;
}

.ArrowUp {
  background-image: url("../../public/main/up.svg");
  width: 28px;
  height: 28px;
}

.ArrowUp.clicked {
  background-image: url("../../public/main/up-clicked.svg");
  width: 28px;
  height: 28px;
}

.ArrowDown {
  background-image: url("../../public/main/down.svg");
  width: 28px;
  height: 28px;
}

.ArrowDown.clicked {
  background-image: url("../../public/main/down-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="0"] {
  background-image: url("../../public/main/0.svg");
  width: 28px;
  height: 28px;
}

div[data-key="0"].clicked {
  background-image: url("../../public/main/0-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="1"] {
  background-image: url("../../public/main/1.svg");
  width: 28px;
  height: 28px;
}

div[data-key="1"].clicked {
  background-image: url("../../public/main/1-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="2"] {
  background-image: url("../../public/main/2.svg");
  width: 28px;
  height: 28px;
}

div[data-key="2"].clicked {
  background-image: url("../../public/main/2-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="3"] {
  background-image: url("../../public/main/3.svg");
  width: 28px;
  height: 28px;
}

div[data-key="3"].clicked {
  background-image: url("../../public/main/3-clicked.svg");
  width: 28px;
  height: 28px;
}

div[data-key="4"] {
  background-image: url("../../public/main/4.svg");
  width: 28px;
  height: 28px;
}

div[data-key="4"].clicked {
  background-image: url("../../public/main/4-clicked.svg");
  width: 28px;
  height: 28px;
}

.h {
  background-image: url("../../public/main/hide.svg");
  width: 28px;
  height: 28px;
}

.h.clicked {
  background-image: url("../../public/main/hide-clicked.svg");
  width: 28px;
  height: 28px;
}

.d {
  background-image: url("../../public/main/dark.svg");
  width: 28px;
  height: 28px;
}

.d.clicked {
  background-image: url("../../public/main/dark-clicked.svg");
  width: 28px;
  height: 28px;
}

.f {
  background-image: url("../../public/main/featured.svg");
  width: 28px;
  height: 28px;
}

.f.clicked {
  background-image: url("../../public/main/featured-clicked.svg");
  width: 28px;
  height: 28px;
}

.t {
  background-image: url("../../public/main/top.svg");
  width: 28px;
  height: 28px;
}

.t.clicked {
  background-image: url("../../public/maintop-clicked.svg");
  width: 28px;
  height: 28px;
}
