.beestar {
  display: flex;
  justify-content: center;
}

.beestar-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  gap: 64px;
  max-width: 1080px;
}

@media (max-width: 1160px) {
  .beestar-content {
    padding: 0px 56px;
  }
}

.beestar-content h1 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 64px;
  padding: 0;
  margin: 0;
}

.beestar-content h2 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 44px;
  padding: 0 0 24px 0;
  margin: 0;
}

.beestar-content h3 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 32px;
  padding: 0 0 16px 0;
  line-height: 90%;
  margin: 0;
}

.beestar-content img {
  border: 1.5px solid black;
  border-radius: 20px;
}

.beestar-content p {
  text-align: left;
  padding: 0;
  margin: 0;
}

.overview {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 36px;
}

.subheading {
  font-weight: 500;
  font-size: 18px;
}

.grouping {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.hyperlink {
  text-decoration: underline;
}

.redesigned-img {
  width: 80%;

  img {
    width: 100%;
  }
}

.issues,
.design {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

.beestar-content .split {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  gap: 56px;
  margin-bottom: 56px;
}

.details {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;

  .description {
    margin-bottom: 16px;
  }
}

.beestar-content .details-list {
  margin-left: 16px;
  list-style-type: disc;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;

  li {
    stroke-width: 1.5px;
    padding-left: 8px;
  }
}

.original-img {
  width: 50%;

  img {
    width: 100%;
  }
}

.beestar-content a:hover {
  transition: 0.3s;
  filter: brightness(80%);
}

.design-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 56px;
  .description {
    margin-top: 16px;
  }

  .intro-list {
    margin: 16px 0;
  }
}

.sketches {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 24px;
}

.screens {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.smaller-screens {
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
  justify-content: center;
  width: 34%;
  gap: 24px;

  img {
    width: 100%;
  }

  .mobile-img {
    width: 50%;
  }
}

.desktop-img {
  width: 66%;

  img {
    width: 100%;
  }
}

.full-img {
  width: 100%;
}

.half-screen {
  width: 50%;

  img {
    width: 100%;
  }
}

.images {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 24px;

  .sketches {
    align-items: start;
  }
}

.top-final {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
  gap: 24px;
}

.bottom-final {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  gap: 24px;
}

.desktop-final {
  width: 65%;

  img {
    width: 100%;
  }

  .description {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
  }
}

.tablet-final {
  width: 35%;
  img {
    width: 100%;
  }
}

.mobile-final {
  width: 22%;
  img {
    width: 100%;
  }
}

.monitor-final {
  width: 78%;
  img {
    width: 100%;
  }
}

.conclusion {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  margin-bottom: 136px;
  .description {
    margin-bottom: 16px;
  }
}
