.gmcafe-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  gap: 64px;
  max-width: 1080px;
}

@media (max-width: 1160px) {
  .gmcafe-content {
    padding: 0px 56px;
  }
}

.gmcafe-content h1 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 64px;
  padding: 0;
  margin: 0;
}

.gmcafe-content h2 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 44px;
  padding: 0 0 24px 0;
  margin: 0;
}

.gmcafe-content h3 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 32px;
  padding: 0 0 16px 0;
  line-height: 90%;
  margin: 0;
}

.gmcafe-content img {
  border: 1.5px solid black;
  border-radius: 20px;
}

.gmcafe-content p {
  text-align: left;
  padding: 0;
  margin: 0;
}
