.gmcafe {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: start;
  text-align: start;
  gap: 64px;
  max-width: 1080px;
}

@media (max-width: 1320px) {
  .gmcafe {
    padding: 0px 56px;
  }
}

.gmcafe h1 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 64px;
  padding: 0;
  margin: 0;
}

.gmcafe h2 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 44px;
  padding: 0 0 24px 0;
  margin: 0;
}

.gmcafe h3 {
  font-weight: 500;
  font-size: 20px;
  padding: 0 0 16px 0;
  line-height: 90%;
  margin: 0;
}

.gmcafe img {
  border: 1.5px solid black;
  border-radius: 20px;
}

.gmcafe p {
  text-align: left;
  padding: 0;
  margin: 0;
}

.gmcafe .grouping {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: 16px;
}

.blurb {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 36px;
}

.gmcafe .description {
  font-weight: 400;
  font-size: 16px;
}

.cover-img,
.cover-img-dark {
  width: 100%;

  img {
    width: 100%;
  }
}

.cover-img:hover {
  cursor: url("/main/star-filled.svg"), default;
  img {
    transition: 0.3s;
    filter: brightness(80%);
  }
}

.cover-img-dark:hover {
  cursor: url("/main/light-star-filled.svg"), default;
  img {
    transition: 0.3s;
    filter: brightness(60%);
  }
}

.blurb-info {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: start;
  row-gap: 32px;
}

.blurb-item {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  max-width: 250px;
  gap: 4px;
}

.item-name {
  font-weight: 500;
  font-size: 16px;
}

.item-content {
  font-size: 15px;
}

.gmcafe .process {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  gap: 72px;
}

.gmcafe .right {
  width: 84%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 96px;
}

.gmcafe .left {
  width: 16%;
  display: flex;
  flex-flow: column nowrap;
  font-size: 15px;
  margin-top: 16px;
  position: sticky;
  top: 160px;
  font-weight: 500;
}

.gmcafe .overview,
.gmcafe .research,
.gmcafe .lofi,
.gmcafe .hifi {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  text-align: left;
}

.gmcafe .section-content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 72px;

  .description {
    margin-bottom: 16px;
  }

  .description-top {
    margin: 64px 0 24px 0;
  }

  .description-list {
    margin-bottom: 6px;
  }

  .description-top-list {
    margin: 64px 0 6px 0;
  }

  .description-img {
    margin-bottom: 24px;
  }
}

.emphasis {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 64px;
  text-align: left;

  .callout {
    width: 36%;
    font-size: 36px;
    font-weight: 500;
    font-family: "ivymode";
  }

  .text {
    width: 64%;
    font-size: 16px;
  }

  .star {
    width: 24px;
  }
}

.gmcafe .details-list {
  margin-left: 16px;
  list-style-type: disc;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;

  li {
    stroke-width: 1.5px;
    padding-left: 8px;
  }
}

.gmcafe .details-list-img {
  margin: 0 0 20px 16px;
  list-style-type: disc;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;

  li {
    stroke-width: 1.5px;
    padding-left: 8px;
  }
}

.interview-questions {
  width: 100%;
  display: flex;
}

.table-content {
  color: black;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  line-height: 1;

  img {
    border: none;
    padding-top: 2px;
    height: 20px;
  }
}

table,
th,
td {
  border-collapse: collapse;
  border: 1.5px solid black;
  background-color: white;
  font-size: 14px;
}

table {
  width: 100%;
  margin-bottom: 16px;
}

th,
td {
  padding: 12px 16px;
  width: 272px;
}

td {
  font-weight: 500;
}

th {
  padding: 16px 0;
}

.row-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  justify-content: start;
  gap: 8px;
}

td:first-child .row-content,
th:first-child .row-content {
  align-items: start;
}

td:first-child,
th:first-child {
  padding-left: 24px;
  font-size: 14px;
  width: 180px;
}

.explanation {
  font-size: 12px;
}

.check-icon {
  width: 24px;
}

.full-img {
  width: 100%;
  img {
    width: 100%;
  }
}
