main {
  width: 100%;
  height: calc(100% - 160px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.intro {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 44px;
}

.lower-intro {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  transform: translateY(-32px);
}

.sushi-belt {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 1600px) {
  .sushi-belt {
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }
}

.home p,
.welcome {
  font-size: 18px;
}

.welcome {
  transform: translateY(-32px);
}
