.home {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.text {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.intro {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 44px;
}

.lower-intro {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  transform: translateY(-32px);
}

.sushi-belt {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

@media (width <= 1600px) {
  .sushi-belt {
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }
}

/* .marquee {
  min-width: 1440px;
  max-width: 1440px;
  height: 200px;
  width: 100%;
  top: 8%;
  position: absolute;
  overflow: hidden;
}

.marquee div {
  display: flex;
  align-items: end;
  gap: 72px;
  width: 200%;
  position: absolute;
  animation: marquee 35.5s linear infinite;
  overflow: hidden;
}

.marquee span {
  float: right;
  width: 100%;
}

@keyframes marquee {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
} */

.home p,
.welcome {
  font-size: 18px;
}

.welcome {
  transform: translateY(-32px);
}
