/* Selects the root element of the document:
   <html> in the case of HTML */
:root {
  --cream5: #fff9f2;
  --cream10: #f3ece5;
  --cream15: #e6dfd9;
  --cream20: #dad2cc;
  --cream25: #cec6bf;
  --cream30: #c2b9b2;
  --cream40: #a99f99;
  --cream50: #91857f;
  --cream65: #6c5f59;
  --cream75: #534540;

  color-scheme: light dark;
  color: black;
  font-family: Avenir, Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--cream5);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* font-family: "objektiv-mk2"; */
  font-family: "Avenir-Roman";
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  cursor: url("/main/star-unfilled.svg"), default;
  overflow-x: hidden;
}

main {
  padding-top: 96px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-light {
  display: flex;
  justify-content: center;
  background-color: var(--cream5);
  transition: background-color 0.3s;
}

.page-dark {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--cream75);
  transition: background-color 0.3s;
  cursor: url("/main/light-star-unfilled.svg"), default;
}

.light-link {
  color: black;
  text-decoration: inherit;
  padding: 1em;
  margin: -1em;
}

.dark-link {
  color: var(--cream5);
  text-decoration: inherit;
  padding: 1em;
  margin: -1em;
}

.light-link:hover {
  color: var(--cream50);
  cursor: url("/main/star-filled.svg"), default;
  transition: 0.3s;
}

.dark-link:hover {
  color: var(--cream30);
  cursor: url("/main/light-star-filled.svg"), default;
  transition: 0.3s;
}

.hyperlink {
  font-weight: 500;
  text-decoration: underline;
  color: black;
}

.hyperlink:hover {
  color: var(--cream65);
  cursor: url("/main/star-filled.svg"), default;
  transition: 0.3s;
}

.hyperlink-dark {
  font-weight: 500;
  text-decoration: underline;
  color: var(--cream5);
}

.hyperlink-dark:hover {
  color: var(--cream30);
  cursor: url("/main/light-star-filled.svg"), default;
  transition: 0.3s;
}

div {
  box-sizing: border-box;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

b {
  font-weight: 500;
}
