/* selects the root element of the document:
   <html> in the case of HTML */
:root {
  --cream5: #fff9f2;
  --cream10: #f3ece5;
  --cream15: #e6dfd9;
  --cream20: #dad2cc;
  --cream25: #cec6bf;
  --cream30: #c2b9b2;
  --cream40: #a99f99;
  --cream50: #91857f;
  --cream65: #6c5f59;
  --cream75: #534540;

  color-scheme: light dark;
  color: black;
  font-family: "Avenir LT", Avenir, Inter, system-ui, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--cream5);
  /* to improve cross-platform font performance */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  cursor: url("/main/star-unfilled.svg"), default;
  overflow-x: hidden;
}

main {
  padding-top: 96px;
}

h1 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 64px;
  padding: 0;
  margin: 0;
  line-height: 1.1;
}

h2 {
  font-family: "ivymode";
  font-weight: 400;
  font-size: 44px;
  padding: 0 0 24px 0;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  padding: 0 0 16px 0;
  line-height: 90%;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  background: rgba(177, 168, 161, 0.5);
  /* background: rgba(242, 137, 95, 0.5); */
}

.page-light {
  display: flex;
  justify-content: center;
  background-color: var(--cream5);
  transition: background-color 0.3s;
}

.page-dark {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--cream75);
  transition: background-color 0.3s;
  cursor: url("/main/light-star-unfilled.svg"), default;
}

.light-link {
  color: black;
  text-decoration: inherit;
  padding: 1em;
  margin: -1em;
}

.dark-link {
  color: var(--cream5);
  text-decoration: inherit;
  padding: 1em;
  margin: -1em;
}

.light-link:hover {
  color: var(--cream50);
  cursor: url("/main/star-filled.svg"), default;
  transition: 0.3s;
}

.dark-link:hover {
  color: var(--cream30);
  cursor: url("/main/light-star-filled.svg"), default;
  transition: 0.3s;
}

.hyperlink {
  font-weight: 500;
  text-decoration: underline;
  color: black;
}

.hyperlink:hover {
  color: var(--cream65);
  cursor: url("/main/star-filled.svg"), default;
  transition: 0.3s;
}

.hyperlink-dark {
  font-weight: 500;
  text-decoration: underline;
  color: var(--cream5);
}

.hyperlink-dark:hover {
  color: var(--cream30);
  cursor: url("/main/light-star-filled.svg"), default;
  transition: 0.3s;
}

div {
  box-sizing: border-box;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

b {
  font-weight: 500;
}

/* use webfont version of avenir so works cross-platform */
@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-light.woff2") format("woff2"),
    url("/fonts/avenir-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-light-oblique.woff2") format("woff2"),
    url("/fonts/avenir-light-oblique.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-book.woff2") format("woff2"),
    url("/fonts/avenir-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-book-oblique.woff2") format("woff2"),
    url("/fonts/avenir-book-oblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-roman.woff2") format("woff2"),
    url("/fonts/avenir-roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-roman-italic.woff2") format("woff2"),
    url("/fonts/avenir-roman-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-medium.woff2") format("woff2"),
    url("/fonts/avenir-medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-medium-italic.woff2") format("woff2"),
    url("/fonts/avenir-medium-italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-medium.woff2") format("woff2"),
    url("/fonts/avenir-medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-medium-italic.woff2") format("woff2"),
    url("/fonts/avenir-medium-italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-heavy.woff2") format("woff2"),
    url("/fonts/avenir-heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT";
  src: url("/fonts/avenir-heavy-italic.woff2") format("woff2"),
    url("/fonts/avenir-heavy-italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
