/* Selects the root element of the document:
   <html> in the case of HTML */
:root {
  --cream10: #fff9f2;
  --cream15: #f3ece5;
  --cream30: #cbc3bc;
  --cream40: #b1a8a1;
  --cream60: #7e716c;

  color-scheme: light dark;
  color: black;
  font-family: "objektiv-mk2";
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--cream10);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  cursor: url("/star-unfilled.svg"), default;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

main {
  padding-top: 120px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  padding: 1em;
  margin: -1em;
}

a:hover {
  color: var(--cream60);
  cursor: url("/star-filled.svg"), default;
  transition: 0.3s;
}

div {
  box-sizing: border-box;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
