.work {
  display: flex;
  justify-content: center;
}

.work-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  gap: 64px;
  max-width: 1080px;
}

.work-card {
  width: 300px;
}
