/* main nav */
.desktop-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  width: 100%;
  max-width: 1336px;
}

@media (max-width: 1400px) {
  .desktop-nav {
    padding: 24px 56px;
  }
}

.logo-link {
  color: black;
  text-decoration: inherit;
  display: flex;
  flex-flow: row nowrap;
}

.dark-logo-link {
  color: var(--cream5);
  text-decoration: inherit;
  display: flex;
  flex-flow: row nowrap;
}

.logo-link:hover {
  color: var(--cream65);
  cursor: url("/main/star-filled.svg") 12 12, default;
}

.dark-logo-link:hover {
  color: var(--cream40);
  cursor: url("/main/light-star-filled.svg") 12 12, default;
}

/* nav content */
.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
}

.logo-duck {
  width: 44px;
}

.logo:hover {
  .logo-duck {
    animation: shake 600ms 1;
    animation-timing-function: linear;
  }
}

/* logo animation */
@keyframes shake {
  0% {
    transform: rotate(12deg);
  }
  25% {
    transform: rotate(-12deg);
  }

  50% {
    transform: rotate(8deg);
  }

  75% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.right-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 40px;
}

.desktop-nav .light-link::after {
  width: 100%;
  content: "";
  position: absolute;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--cream65);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.desktop-nav .light-link:hover::after {
  background-color: var(--cream65);
  transform: scaleX(1);
  transform-origin: bottom left;
}

.desktop-nav .dark-link::after {
  width: 100%;
  content: "";
  position: absolute;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--cream40);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.desktop-nav .dark-link:hover::after {
  background-color: var(--cream40);
  transform: scaleX(1);
  transform-origin: bottom left;
}
