.play {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  max-width: 1080px;
  margin-bottom: 120px;
}

@media (max-width: 1160px) {
  .play {
    padding: 0px 56px;
  }
}
